# Tiêu đề ứng dụng
VITE_APP_TITLE=EAMO

# Namespace ứng dụng (dùng làm tiền tố cache, store để đảm bảo cô lập dữ liệu)
VITE_APP_NAMESPACE=eamo-web-antd

# Khóa bảo mật để mã hóa store khi lưu dữ liệu bền vững vào localStorage
VITE_APP_STORE_SECURE_KEY=please-replace-me-with-your-own-key

# OAuth Public Client ID (đăng ký ở Backend hệ thống)
VITE_AUTH_CLIENT_ID=your_oauth_public_client_id_here
