registry=https://registry.npmmirror.com
only-built-dependencies[]=@parcel/watcher
only-built-dependencies[]=core-js
only-built-dependencies[]=esbuild
only-built-dependencies[]=lefthook
only-built-dependencies[]=vue-demi
